*.exe
*.exe~
*.dll
*.so
*.dylib
/bin
/dist
/tmp


*.test
*.out
coverage.html
profile.cov

/vendor/

.idea/
*.iml

.vscode/
release/

.DS_Store
*.log
.env
.env.local

node_modules/

.npmrc
mcp-gitee-ent
!cmd/mcp-gitee-ent
!pkg/mcp-gitee-ent
npm/mcp-gitee-ent/README.md
npm/mcp-gitee-ent/LICENSE
!npm/mcp-gitee-ent
mcp-gitee-ent-darwin-amd64
!npm/mcp-gitee-ent-darwin-amd64/
mcp-gitee-ent-darwin-arm64
!npm/mcp-gitee-ent-darwin-arm64
mcp-gitee-ent-linux-amd64
!npm/mcp-gitee-ent-linux-amd64
mcp-gitee-ent-linux-arm64
!npm/mcp-gitee-ent-linux-arm64
mcp-gitee-ent-windows-amd64.exe
mcp-gitee-ent-windows-arm64.exe